.background {background-color:#D2B887}
#title{
  color: #AF1E2C;
}
p {color:#00338D;}
li {color:#00338D;}

.row h2{
  color: #AF1E2C;
  font-family: Georgia;
}
html {border-style:solid;}
html {border-width:15px;}
html {color:#002244;}

h2 {border-style:solid;}
h2 {border-width:2px;}



